<div id="navbar_plugin_ledcontroller" class="input-group">
    <a href="#" data-bind="enable: loginStateViewModel.isUser(), click: toggleRedLight"><img id="redLightId" border="0"/></a>
    <a href="#" data-bind="enable: loginStateViewModel.isUser(), click: toggleWhiteLight"><img id="whiteLightId" border="0"/></a>
</div>
